/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #ff96b9
  }

::-webkit-scrollbar-thumb {
    background: #e91e63;
}

::-webkit-scrollbar-thumb:hover {
    background: #c01850;
}