<!-- <div class="card">
    <p>{{text}}</p>
    <img src={{imgUrl}} alt="gato">
</div> -->

<mat-card class="feed-card">
    <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>Post</mat-card-title>
        <mat-card-subtitle>4 Horas atrás</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image src=(imgUrl) alt="post-image">

    <mat-card-content>
        <p>Este é um exemplo de post</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-fab>👍</button>
        <button mat-button>📤</button>
    </mat-card-actions>
</mat-card>